<ion-header [translucent]="true">
  <app-header>
  </app-header>
</ion-header>
<app-sidebar></app-sidebar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col id="centrar">PERFIL</ion-col>
    </ion-row>
      <ion-row >
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Nombre:" placeholder="____________________"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Rut:" placeholder="____________________"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Carrera:" placeholder="____________________"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item > 
            <ion-textarea  [readonly]="true" label="Correo:" placeholder="____________________"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>
      

      <ion-row > 
        <ion-col id="derecha">Nombre:</ion-col>
        <ion-col id="izquierda">_______________</ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="derecha">Rut:</ion-col>
        <ion-col id="izquierda">_______________</ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="derecha">Carrera:</ion-col>
        <ion-col id="izquierda">_______________</ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="derecha">Correo:</ion-col>
        <ion-col id="izquierda">_______________</ion-col>
      </ion-row>
  </ion-grid>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
