<ion-header [translucent]="true"> 
  <app-header>
  </app-header>
</ion-header>
<app-sidebar></app-sidebar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col >PERFIL</ion-col>
    </ion-row>
      <ion-row >
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Nombre:" placeholder="Juanito Perez"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Rut:" placeholder="15.444.555-K"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Carrera:" placeholder="Analista"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-item > 
            <ion-textarea  [readonly]="true" label="Correo:" placeholder="juanito.perez@duocuc.cl"></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>
      
  </ion-grid>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
