<ion-header [translucent]="true">
  <app-header>
  </app-header>
</ion-header>
<app-sidebar></app-sidebar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>PERFIL</ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
        
          <ion-item>
            <ion-textarea [readonly]="true" label="Nombre:" placeholder="____________________"></ion-textarea>
          </ion-item>
        
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>Rut</ion-col>
        <ion-col>_______________</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Carrera:</ion-col>
        <ion-col>_______________</ion-col>
      </ion-row>
  </ion-grid>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
