.color-para-tabs{
    background-color: #f4e21a;
}

.color-para-button-tabs{
    background-color: #f4e21a;
    color: #000000;
}

.color-para-button-tabs:hover {
    background-color: #000000;
    color:#f4e21a;
}