.marcar-asistencia-content {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.btnPrueba {
    display: flex!important;
    width: 199px;
    height: 62px;
}