#logo {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 80px;
    float: left;
    padding: 5px;
    background-color: #f4e21a;
    
}

#header{
    text-align: center;  
    background-color: #f4e21a;
}

.background-header {
    background-color: #f4e21a;
}

ion-menu-button {
    font-size: 400% !important;
  }